*#
/.ipynb_checkpoints/*
=======
*.swp
*~
/backup/*
/db/*
/doc/*
/img/*
/kml/*
/maps/*
/db2/*
/reports/*
/res/*
/sqlite/*
/airbnb.xlsx
/isql
/backupdb
/dbsupport.ini
/submissions.ini
/sadiags.xml
/test.log
/airbnb.log
/run.log
client.id
/dbnb.log
/dbnb.db
peers.csv
run.sh
/datetime
/dbnb_validation.log
/developernotes.org
/driver-payments.pdf
/gdrive/
/gen_reports.py
/google_api/
/logging
/report_template.html
/unload/
